/*
=============================================
Page Styles
=============================================
*/

html,
body {
    font-size: 18px;
    background-color: black; 
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}


.game-text {
    text-align: center;
     
}

.game-screen {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
}

@media screen and (max-width: 640px) {

    .game-screen {
        max-width: 100%;
    }
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 100vh;
}

.game-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}




/*
=============================================
Typograpghy
=============================================
*/

h1, h2, h3, h4, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 3.5rem;
    line-height: 7rem;
    font-weight: bold;
    color: whitesmoke;
}

p {
    font-size: 1rem;
    line-height: 1.25 rem;
    font-weight: bold;
    color: white;
}

#current-word {
    letter-spacing: .5rem;
}