
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            body {
                background: lightgray;
            }
        
            header {
                background: black;
            }

            h1 {
                font-size: 3em;
                line-height: 1.2em;
                color: rgb(126, 126, 219);
                padding: .5em 0;
                text-align: center;
                text-decoration: underline;
            }

            .bio {
                display: flex;
                flex-flow: row nowrap;
                padding: 2em 3em;
            }

            img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                flex: 1 0 auto;
            }

            .bio p {
                padding: 0 1.5em;
                align-self: center;
            }

            .contact_info {
                margin: 0 1em;
                padding: 1em 3em;
            }

            .contact_info h2 {
                padding-bottom: .25em;
            }

            .contact_links {
                margin-top: 1em;
                border: 1px black solid;
                border-radius: .1em;
            }

            .contact_links {
                padding-left: 1em;
                list-style-position: inside;
            }

            .contact_links a {
                color: rgb(231, 78, 103);
            }

            .contact_links a:hover {
                color: blue;
            }